fieldset {
    text-align: center;
    width: 28%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    label {
        color: rgb(12, 30, 31, 10);
        span {
            color: rgb(12, 30, 31, 10); 
        }
    }
}